{:paths ["src" "resources"]
 :deps {org.clojure/math.combinatorics {:mvn/version "0.1.6"}}
 :aliases {:reveal {:extra-deps {vlaaad/reveal {:mvn/version "1.2.180"}}
                    :ns-default vlaaad.reveal
                    :exec-fn repl}}}
